body {
     background: url(../img/bg.jpg) no-repeat center fixed;
     -webkit-background-size : cover;
     -moz-background-size : cover;
     -0-background-size : cover;
     background-size : cover;
     color: #fff;
     font-family: 'Open Sans', sans-serif;
     font-size: 15px;
     letter-spacing: 2px;
 }

 .writing {
    font-family: 'monospace', sans-serif;
    font-style : italic;
    font-weight: bold;
    text-align : center;
    margin-top : 1rem;
    color : #fff;
}
 @keyframes typing {
    0.0000%, 27.3488% { content: ""; }
    1.1395%, 26.2093% { content: "d"; }
    2.2791%, 25.0698% { content: "de"; }
    3.4186%, 23.9302% { content: "dev"; }
    4.5581%, 22.7907% { content: "deve"; }
    5.6977%, 21.6512% { content: "devel"; }
    6.8372%, 20.5116% { content: "develo"; }
    7.9767%, 19.3721% { content: "develop"; }
    9.1163%, 18.2326% { content: "develope"; }
    10.2558%, 17.0930% { content: "developer"; }
  
    30.7674%, 51.2791% { content: ""; }
    31.9070%, 50.1395% { content: "w"; }
    33.0465%, 49.0000% { content: "wr"; }
    34.1860%, 47.8605% { content: "wri"; }
    35.3256%, 46.7209% { content: "writ"; }
    36.4651%, 45.5814% { content: "write"; }
    37.6047%, 44.4419% { content: "writer"; }
  
    54.6977%, 75.2093% { content: ""; }
    55.8372%, 74.0698% { content: "r"; }
    56.9767%, 72.9302% { content: "re"; }
    58.1163%, 71.7907% { content: "rea"; }
    59.2558%, 70.6512% { content: "read"; }
    60.3953%, 69.5116% { content: "reade"; }
    61.5349%, 68.3721% { content: "reader"; }
  
    78.6279%, 96.8605% { content: ""; }
    79.7674%, 95.7209% { content: "h"; }
    80.9070%, 94.5814% { content: "hu"; }
    82.0465%, 93.4419% { content: "hum"; }
    83.1860%, 92.3023% { content: "huma"; }
    84.3256%, 91.1628% { content: "human"; }
  }
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .welcome {
    --caret: currentcolor;
  }
  
  .welcome::before {
    content: "";
    animation: typing 13.5s infinite;
  }
  
  .welcome::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blink 0.5s linear infinite;
  }
  
  .welcome.thick::after {
    border-right: 1ch solid var(--caret);
  }
  
  .welcome.nocaret::after {
    border-right: 0;
  }
  
  
  @media (prefers-reduced-motion) {
    .welcome::after {
      animation: none;
    }
    
    @keyframes sequencePopup {
      0%, 100% { content: "developer"; }
      25% { content: "writer"; }
      50% { content: "reader"; }
      75% { content: "human"; }
    }
  
    .welcome::before {
      content: "developer";
      animation: sequencePopup 12s linear infinite;
    }
  }
  
  /**/
 .wrapper {
    min-height : 100vh;
    width : 400px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1px solid rgba(255, 255, 255, 1);
    margin-left : auto;
    margin-right : auto;
    margin-bottom : auto;
 }
 .profile {
     border-radius: 50%;
     display : block;
     margin-left : auto;
     margin-right: auto;
     margin-top : 3%
   }
 .profile-picture {
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 10%;
     height: auto;
     max-width: 150px;
     border-radius:50%;
   }
.profile-name {
    font-family: 'Afacad', sans-serif;
    text-align : center;
    margin-top : 1rem;
    color : #DFC69DF;
    font-size : 1.5rem;

}
 .username {
       font-family: 'Afacad', sans-serif;
       text-align: center;
       font-size : 1rem;
       margin-top : 1rem;
       width : 120px;
       padding : 10px 2px;
       border : 2px solid white;
       border-radius : 50px;
       margin-left : auto;
       margin-right : auto;
   }

 .links {
       background : #DFC69D;
       text-align: center;
       margin-top: 20px;
       padding: 20px;
       border: 1px solid #32191F;
       border-width: 2px;
       width: 290px;
       display: block;
       margin-left: auto;
       margin-right: auto;
       border-radius: 40px;
   }
.quotes {
    font-family: 'Lilita One', sans-serif;
    font-style : italic;
    text-align : center;
    margin-top : 1rem;
    color : #fff;
}
 a {
     text-decoration: none;
     color: #32191F;
     transition: color 1s;
 }

 a:hover {
     color: #fff;
     background: #32191F;
 }
 .bottom-text {
     text-align: center;
     margin-top: 30px;
     margin-bottom : 20px;
     font-size: 20px;
     font-weight: bold;
 }


 .euVideo {


 }
/*Laptop*/
 @media (max-width : 992px) {
 }
/*Tablet*/
 @media (max-width : 1200px) {
    .wrapper {
        min-height : 10px;
        width : 300px;
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.05);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.2px);
        -webkit-backdrop-filter: blur(5.2px);
        border: 1px solid rgba(255, 255, 255, 1);
        padding : 50px 150px;
        margin-top: 50px;
    }
    .profile {
        height : 170px;
        width : 170px;
    }
    .profile-name {
        font-size : 1.2rem;
    }
    .username {
        font-size : 0.8rem;
        font-weight : bold;
        border : 2px solid white;
    }
    .quotes {
        font-size : 0.8rem;
    }
    .links {
        width : 250px;
    }

 .bottom-text {
    text-align: center;
    margin-top: 50px;
    margin-bottom: -10px;
    font-size: 2rem;
    font-weight: bold;
}
 }
/*Mobile phone*/
 @media (max-width : 576px) {
    .wrapper {
        min-height : 10px;
        width : 300px;
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.05);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.2px);
        -webkit-backdrop-filter: blur(5.2px);
        border: 1px solid rgba(255, 255, 255, 1);
        padding : 15px 15px;
    }
    .profile {
        height : 150px;
        width : 150px;
    }
    .profile-name {
        font-size : 1rem;
    }
    .username {
        font-size : 0.8rem;
        font-weight : bold;
        border : 2px solid white;
    }
    .quotes {
        font-size : 0.8rem;
    }
    .links {
        width : 250px;
    }
 }
